*{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25rem;
    background-color: rgba(21, 33, 51, 1);
}

p{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}