*{
    margin: 0;
    padding: 0;
   
  }
  
  body {
  display: grid;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  background-color: #fdede2
  }
  a {
    padding: 3rem; 
    font-size: 125px;
    text-decoration: none;
  }
  