*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  background-color: white
}

h1 {
    padding: 1em; 
    font-size: 25px;
    
    
}