*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(21, 33, 51, 1);
    display: flex;
    min-height: 15rem;
    flex-direction: column;
    width: 25vw;
    padding-top: 3rem;
}

h1, .soustitre{
    color: white;
}

h1{
    font-size: 3rem;
    text-align: right;
    margin-top: 1rem;
    margin-right: 10%;
}

.soustitre{
    font-size: 1rem;
    margin: 0 10% 0 10%;    
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    min-height: 30rem;
    width: 25vw;
}

.text{
    display: flex;
    flex-direction: column-reverse;
    
}

h2{
    font-size: 1em;
    margin-bottom: 3rem;
    text-decoration: none;
    text-align: center;
}

.para{
    width: 418px;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 6rem;
    width: 80%;
    margin-left: 10%;
}


